body {
  font-size: $font-size-default;
  font-family: $font-default;
  background-color: $background-color;
  color: #3C4858;
}

*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html{
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



h6, .h6 {
  font-size: 0.9em;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1.5em;
  margin-top: 10px;
  margin-bottom: 10px;
}

.mr10{
  margin-right: 10px;
  display: inline-block;
}

.field{
  margin: 0 0 1em;
}

.more{
  display: block;
  font-size: 14px;
  color: #444;
}

.text-danger {
  color: #f44336;
}

.hide{
  display :none;
}


//Basic A Link Style

a {
  color: #2D59A2;
  text-decoration: none;
}