//导航栏布局样式
.navbar{
  position: fixed;
  width: 100%;
  height: 60px;
  z-index: $zindex-5;
  background-color: $navbar-background;
  -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.1);
  box-shadow: 0 0 0 1px rgba(0,0,0,.1);
}

//侧边栏布局样式
.sidebar {
  position: fixed;
  top: 60px;
  width: $sidebar-desktop;
  height: 100%;
  background-color : $sidebar-background;
}


//状态栏的布局样式
.stateMenu{
  position: fixed;
  width: 200px;
  height: 100%!important;
  margin: 0;
  border-right: 1px solid $grey-light;
  overflow-y: hidden;
  z-index: $zindex-1;
}


.wrapper{
  margin-left: 80px;
  padding: 60px 0 0;
  -webkit-transition: padding-left ease-in-out .3s;
  -moz-transition: padding-left ease-in-out .3s;
  -ms-transition: padding-left ease-in-out .3s;
  -o-transition: padding-left ease-in-out .3s;
  transition: padding-left ease-in-out .3s;
}


.container{
  margin-left: 200px;
  padding: 30px 60px 0;
}


.my-skills,.my-tasks,.my-activities,.designer {
  @extends $contentArea;

  .header{
    @extends $contentArea-title
  }
}


.my-activities{
  .inner{
    margin: 1em 0;
    padding: 1em;
  }
}



