.wrapper{
  margin-left: 80px;
  padding: 60px 0 0;
  -webkit-transition: padding-left ease-in-out .3s;
  -moz-transition: padding-left ease-in-out .3s;
  -ms-transition: padding-left ease-in-out .3s;
  -o-transition: padding-left ease-in-out .3s;
  transition: padding-left ease-in-out .3s;

  .container{
    margin-left: 200px;
    padding: 30px 60px 0;
  }
}

.user-index{
  margin: 0;
  padding: 12px 20px;
}


.my-skills {
  @extends $contentArea;

  .header{
    @extends $contentArea-title
    .more-link{
      float: right;
      font-size: 14px;
      color: #000;
      margin-top: 5px;
      margin-left: 10px;
    }
  }
}

.my-tasks {
  @extends $contentArea;

  .header{
    @extends $contentArea-title
  }
}

.my-activities{
  @extends $contentArea;

  .header{
    @extends $contentArea-title
  }

  .inner{
    margin: 1em 0;
    padding: 1em;
  }
}

.designer{
  @extends $contentArea;

  .header{
    @extends $contentArea-title
    border :none;

    .ant-btn{
      margin-right: 8px;
    }
  }

  .field {
    .ant-input{
      width: 600px;
    }

    .ant-select{
      margin-right: 8px;
    }
  }
}

