.designer{

  .header{
    border :none;

    .ant-btn{
      margin-right: 8px;
    }
  }

  .field {
    .ant-input{
      width: 600px;
    }

    .ant-select{
      margin-right: 8px;
    }
  }
}


.designer-nav-wrapper{
  border-bottom: 1px solid #eee;
  margin-bottom : 20px;
}

.designer-nav{
  clearfix();

  position: relative;
  top: 1px;
  margin-top: -5px;

  .nav-item{

    &.selected{
      color: #111;
      background-color: #fff;
      border-color: #d26911 #e5e5e5 transparent;
    }

    float: left;
    padding: 7px 15px 8px;
    color: #666;
    white-space: nowrap;
    border: solid transparent;
    border-width: 3px 1px 1px;
    border-radius: 3px 3px 0 0;
  }
}

