.stateMenu{
  header{
    margin: 0 0 .3em;
    padding: 30px 25px 10px;
    font-size: 17px;
    font-weight: 700;
    border: none;
    background-color: transparent;
  }

  article{
    margin: 5px 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    word-wrap: break-word;
    word-break: normal;
    color: #666;
  }

  .item{

    &.active{
      background: rgba(0,0,0,.08) !important;
      color: rgba(0,0,0,.95);
      opacity: 1;
    }

    &:hover{
      opacity: 1;
      background-color: rgba(0,0,0,.02);
    }

    display: block;
    margin: 0 0 .3em;
    padding: 10px 25px;
    font-size: 14px;
    white-space: nowrap;
    color: rgba(0,0,0,.75);
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    opacity: .8;
  }
}