.sec-menu{
  header{
    font-size: 17px;
    font-weight: 700;
    padding: 30px 25px 10px;
    margin: 0 0 .3em;
    border: none;
    background-color: transparent;
  }

  /*adjust theme */
  .nav-pills:not(.nav-pills-icons) > li > a {
    border-radius: 0px;
  }

  /*adjust theme*/
  .nav-pills > li > a{
    line-height: 18px;
  }
}